<div class="container-fluid sidebar-fill no-paddings-horizontal" >
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<h4>Albums to Rating</h4>
	<hr/>

	<div class="span10">
        <table class="table table-hover">
	    	<tr ng-repeat="album in dataProvider">
	    		<td>
	    			<div>{{album.name}}
		              <div class="span2 pull-right">
		                <a class="btn btn-small btn-primary" href="#/offline/{{album.id}}/rating">
		                  <i class="icon-star-half-full"></i>&nbsp;&nbsp;Rate it now!
		                </a>
		              </div>
		            </div>
	    		</td>
	    	</tr>
		</table>
    </div>

</div>
