<div class="container-fluid sidebar-fill no-paddings-horizontal" >
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<h4>{{pageTitle}}</h4>
	<hr/>

	<div class="span10">
		<table class="table table-hover">
	    	<tr ng-repeat="track in album.tracks">
	    		<td>
	    			<div>{{track.name}} || {{track.rating}}
		              <div class="span6 pull-right">
		              	<div star-rating max="5" value="track.rating" class="starRate"
		              		 title="Please, rate this music:" rate-message="Give it $$ star(s)">
		              	</div>
		              </div>
		            </div>
	    		</td>
	    	</tr>
		</table>
		<a class="btn btn-small btn-primary" href="#/offline">
			<i class="icon-arrow-left"></i>&nbsp;&nbsp;Back to Albums
	    </a>
    </div>
</div>
